<div id="container" class="ui container">
  <div id="loginForm" class="ui segment">
    <img id="logo" class="ui large image centered" src="../../assets/images/logo-black.svg" alt="">
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="johnny.appleseed@apple.com">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="passowrd" placeholder="••••••••••">
      </div>
      <div class="ui buttons fluid">
        <button class="ui secondary button" type="submit">Register</button>
        <button class="ui primary button" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
